.App {
  text-align: center;
  display: block;

}
.nav{
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
  display: block;
  
}

.img{
  margin-top: 10px;
  width: 50px;
}

.button-form{
  border-radius: 40%;
  margin: 5px;
  padding: 8px;
  
}

button:active{
  background-color: indigo;
  color: white;
}

label{ 

  text-align: left;
  display: block;
  margin: 10px;
  padding:5px;
}

.text-bold{
  font-weight: bold;
}

ul{
  text-align: left;
}