.App {
  text-align: center;
  display: block;
}
.nav{
  width: 100%;
  border-bottom: 1px solid gray;
  position: fixed;
  text-align: center;
  
}

.img{
  margin-top: 10px;
  width: 50px;
}

.button-form{
  border-radius: 40%;
  margin: 5px;
  padding: 8px;
  
}
button:active{
  background-color: indigo;
  color: white;
}

