.App {
  text-align: center;
}
.nav{
  width: 100%;
  border-bottom: 1px solid gray;
  position: fixed;
  text-align: center;
  
}

.img{
  margin-top: 10px;
  width: 50px;
}

.button-form{
  border-radius: 15px;
  margin: 5px;
  
}


